<ion-view title="Offer" show-back-button="true"> <!--{{deal.deal_name}}-->

    <ion-content has-header="true" class="content-bg">

        <div class="list card deal">
            <div class=" item item-avatar item-bg deal-title">
                <img src="{{serverBaseUrl}}{{deal.store_logo}}">
                <span style="font-weight: bold;font-size: 24px;color:black">{{deal.deal_name}}</span>
                <p style="color:black">{{deal.startdate}} to {{deal.enddate}}</p>
            </div>

            <div class="item item-body item-bg  content-bg-wrapper">
                <img class="full-image" src="{{serverBaseUrl}}{{deal.image}}">
                <p class="deal-highlight">{{deal.dealHighlight}}</p>
                <p class="deal-contact">Contact</p>
                <p class="deal-content">{{deal.name}}</p>
                <p class="deal-content">{{deal.address}}, {{deal.area}}, {{deal.City}}</p>
                <p class="deal-content">Mobile: {{deal.deal_contact}}</p>
                <p class="deal-content">Email: {{deal.email}}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left ">
                <a class="tab-item deal-footer" href="#">
                    <i class="icon ion-android-call"></i>
                    Call
                </a>
                <a class="tab-item deal-footer" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item deal-footer" href="#">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

        </div>
    </ion-content>

</ion-view>
