
<style>
#dvMap {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}


</style>



<body>


<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>GPS and Camera Feed </h2>
	
<label class = "item item-input item-select">
   <div class = "input-label">
      Select Vehicle
   </div>
	
   <select ng-model="vehicleId" ng-change="showSelectValue(vehicleId)">
      <option selected>Veh001</option>
      <option>Veh002</option>
      <option>Veh003</option>
   </select>
</label>

   
   <br/>
	<br/>
   
   <div class="button-bar">
  <a class="button button-assertive  icon icon-right ion-play " ng-click=setMode("live") >Live</a>
  <a class="button button-royal icon icon-right ion-pause" ng-click=setMode("specific") >Specific</a>
  </div> 
<br/>
 
<center>
<div id="timerange" ng-controller="DashCtrl">

 <div class="item item-icon-left" ion-datetime-picker date ng-model="forDate">
                <i class="icon ion-ios-calendar positive"></i>
                Select the Date :
                <strong>{{forDate| date: "dd-MM-yyyy"}}</strong>
            </div>
			
			<div class="item item-icon-left" ion-datetime-picker time ng-model="fromTime">
                <i class="icon ion-ios-clock positive"></i>
                Select From Time :
                <strong>{{fromTime| date: "H:mm"}}</strong>
            </div>
			
			<div class="item item-icon-left" ion-datetime-picker time ng-model="toTime">
                <i class="icon ion-ios-clock positive"></i>
                Select To Time :
                <strong>{{toTime| date: "H:mm"}}</strong>
            </div>
 <br/>
 
		<button class="button button-energized" ng-click=getData() >
  Get Data
</button>

<br/>


<p class="assertive">{{ errorMessage }} </p>

</center>


  
<br/>
{{ debugMessage}} 
<br/>

{{ GPSMessage}}  

</div>


		
<div id="dvMap" style="width: 300px; height:200px" class="row">
</div> 


<br/>
{{ ImageMessage}}        

 <div id="imageDiv"  class="row" >
     

     <br/>
	      <ion-slide-box>
          <ion-slide ng-repeat="image in photos">

             <img ng-src="{{image.src}}"  class="row"  align="left"  style="width:300px;height:200px;"  >
          </ion-slide>
       </ion-slide-box>
     
      </div>

</ion-content>
</ion-view>
</body>
